doctype html
html
  head
    title Social Media Pannel
    meta(charset='UTF-8')
    meta(name='description', content='Free Web tutorials')
    meta(name='keywords', content='HTML, CSS, JavaScript')
    meta(name='author', content='John Doe')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', type='image/x-icon', href='../img/nodejs-logo-FBE122E377-seeklogo.com.png')
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(rel='stylesheet', href='../css/style.css')
  body.forms_body
    .container.container_fullheight.container_login

      .login-form  
        .message_infomativ_forgot
          p
            | A confirmation email has been sent to the email address,
            | The reset token is only valid for 30 minutes, if you do not receive an email
            | within 30 minutes check if the written address is correct and try again.
            a.forgot_link_inside(href="/forgot-password") 
              | Try again.   
        h2.heading-secondary.ma-bt-lg.display_non_success Recover the account 
        form.forgott_password_platform_form.form_style_nov
          .form-group
            label(for='forgottPassword_email_adress') Email Adress
            input#forgottPassword_email_adress.form-control(type='email', name="Email_Adress",placeholder=' Email Adress')
          button.btn.btn--green.loginButton(type='submit') Send Email
        .forgott_pawwrod
          a.forgot_link(href="/") 
            | Log In 
    script(src="/socket.io/socket.io.js")       
    script(src='../js/bundle.js')
