doctype html
html
  head
    title Social Media Pannel
    meta(charset='UTF-8')
    meta(name='description', content='Free Web tutorials')
    meta(name='keywords', content='HTML, CSS, JavaScript')
    meta(name='author', content='John Doe')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', type='image/x-icon', href='../img/nodejs-logo-FBE122E377-seeklogo.com.png')
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(rel='stylesheet', href='../css/style.css')
  body.forms_body
    .container.container_fullheight.container_login

      .login-form  
        .message_infomativ_reset
          p
            | If you have problems changing your password
            |the reset link may expire or it is a system problem
            a.forgot_link_inside(href="/forgot-password") 
              | Try again.   
        h2.heading-secondary.ma-bt-lg.display_non_success Change password
        form.reset_password_platform_form.form_style_nov
          .form-group
            label(for='resetPassword_email_adress') New Password
            input#resetPassword_email_adress.form-control(type='password', name="Email_Adress",placeholder='New Password' minlength="8")
          .form-group
            label(for='confirm_resetPassword_email_adress') Confirm Password
            input#confirm_resetPassword_email_adress.form-control(type='password', name="Email_Adress",placeholder='Confirm Password' minlength="8")
          button.btn.btn--green.loginButton(type='submit') Reset Password
        
    script(src="/socket.io/socket.io.js")       
    script(src='../js/bundle.js')
