if(user)
    footer.draggable_pannel_footer
        .container.text-center
            span Power by Node JS
    script(src="/socket.io/socket.io.js")
    script(src='../js/dragula.js')        
    script(src='../js/bundle.js')
    script(src='../js/bundle_mobil.js')