doctype html
html
    head
        if(user)
            title #{title}
            meta(charset='UTF-8')
            meta(name='description', content='Dragable system build in node js ')
            meta(name='keywords', content='HTML, CSS, JavaScript,ES6,Node Js, Express,Mongoose, Mongo DB')
            meta(name='author', content='Node JS Developer')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon', type='image/x-icon', href='../img/nodejs-logo-FBE122E377-seeklogo.com.png')
            link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
            link(rel='stylesheet', href='../css/bootstrap.css')
            link(rel='stylesheet', href='../css/dragula.css')
            link(rel='stylesheet', href='../css/style.css')
        else    
            title You are not log in
            meta(charset='UTF-8')
            meta(name='description', content='You are not log in')
            meta(name='keywords', content='HTML, CSS, JavaScript,ES6,Node Js, Express,Mongoose, Mongo DB')
            meta(name='author', content='Node JS Developer')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon', type='image/x-icon', href='../img/nodejs-logo-FBE122E377-seeklogo.com.png')